<table *ngIf="sumaryMonth!==undefined" class="table rad">
  <thead>
    <tr *ngIf="displayTitle">
      <th class="warning" colspan="2" style="text-align: center;">{{fecha | date:'LLLL yyyy'}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="success">
      <td>Ingresos</td>
      <td class="importe">{{sumaryMonth.ingresos | currency: this._userService.getMoneda()}}</td>
    </tr>
    <tr class="danger">
      <td>Egresos</td>
      <td class="importe">{{sumaryMonth.egresos | currency: this._userService.getMoneda()}}</td>
    </tr>
    <tr class="info">
      <td>Saldo</td>
      <td class="importe saldo"
          [class.saldoNegativo]="(sumaryMonth.ingresos - sumaryMonth.egresos) < 0">
          {{(sumaryMonth.ingresos - sumaryMonth.egresos) | currency: this._userService.getMoneda()}}
      </td>
    </tr>
  </tbody>
</table>