.itemTitle {
    float: left;
    width: 50%;
    font-size: 13px;
}

.itemValue {
    float: right;
    width: 50%;
    text-align: right;
    font-size: 13px;
}

.header {
    font-size: 15px;
    float: left;
    margin-top: 3px;
}

.mat-list-item {
    height: 35px;
  }

.mat-card {
    margin-top: 20px;    
    margin-bottom: 5px;    
}

.importeNegativo{
    color: red;
}

.importePositivo{
    color: green;
}