div.polaroid {
    width: 50%;
    height: auto;
    margin-top: 30px;
    padding: 10px 10px 0px 10px;
    border: 1px solid #BFBFBF;
    background-color:honeydew;
    box-shadow: 10px 10px 5px #aaaaaa;
    display: inline-block;
}

.polaroidContainer {
    text-align: center;
}

.center {
    text-align:center;
    margin-top: 20px;
}

.titulo {
    margin-bottom: 30px;
    color: #7c795d; 
    font-family: 'Trocchi', serif; 
    font-size: 30px; 
    font-weight: normal; 
    line-height: 48px;
    text-align: center;
}

.left-addon {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    div.polaroid {
        width: 95%;
        margin-top: 5px;
        margin-bottom: 10px;
        box-shadow: none;
    }

    .titulo {
        font-size: 15px; 
        margin-top: 1px;
        margin-bottom: 15px;
        line-height: 20px;
    }

    .alert-danger {
        font-size: 10px; 
    }

    .form-control {
        font-size: 10px; 
        height: 25px;
    }

    .form-group {
        margin-top: 5px; 
    }

    label {
        font-size: 10px; 
        margin-bottom: 1px;
    }

    .btn {
        font-size: 10px; 
    }

    .alert {
        font-size: 10px; 
    }
}
