<div class="conceptosTable">
  <table *ngIf="conceptos!==undefined" class="table">
    <thead class="conceptosTableHeader">
      <tr>
        <th>Concepto</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr class="selected" id="tr{{item.idconcepto}}" *ngFor="let item of conceptos; let odd=odd; let even=even;" 
          (click)="cambiarPantalla(2, item);"
          [class.info]="odd"
          [class.success]="even">
        <td [class.importeNegativo]="item.credito == false">
          {{item.descripcion}}
        </td>
        <td [class.importeNegativo]="item.credito == false">
            {{(item.credito == true) ? 'Credito' : 'Debito'}}
        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-info" (click)="cambiarPantalla(1, null);">
      <span class="glyphicon glyphicon-plus"></span>
      Agregar Nuevo
  </button>
    
</div>

<div *ngIf="pantallaActual == 1 || pantallaActual == 2" class="forms">
  <form name="formAlta" (ngSubmit)="f.formAlta.valid && Alta()" #f="ngForm" novalidate>
      <div class="formsTitulo"><h3>{{pantallaTitulo}}</h3></div> 
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !conceptoActual.descripcion.valid }">
          <div class="inner-addon left-addon">
              <input type="text" autofocus class="form-control" name="descripcion" [(ngModel)]="conceptoActual.descripcion" #descripcion="ngModel" required placeholder="Descripcion"/>
              <div *ngIf="f.submitted && !conceptoActual.descripcion.valid" class="help-block">Ingresar la Descripcion</div>
          </div>
      </div>

      <div class="form-group">
          <div class="inner-addon left-addon">
              <label for="creditoopt">Credito</label>  
              <input type="radio" 
                       id="creditoopt" 
                       name="debcred" 
                       (click)="changeNuevoDebCred(1)"
                       [checked]="conceptoActual.suma === true">
              
              <div class="float-right pull-right" >
                <label class="importeNegativo" for="debitoopt">Debito</label>  
                <input type="radio"
                        id="debitoopt" 
                        name="debcred" 
                        (click)="changeNuevoDebCred(0)"
                        [checked]="conceptoActual.suma === false">
              </div>
          </div>
      </div>

      <div class="form-group center">
          <button [disabled]="loading" class="btn btn-success">
              <span class="glyphicon glyphicon-ok"></span>
              Aceptar</button>
          <img *ngIf="loading" 
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <button class="btn btn-danger" (click)="cambiarPantalla(0, null);">
              <span class="glyphicon glyphicon-remove"></span>
              Cancelar</button>
      </div>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>
</div>