.conceptosTable {
    margin-left: 5px;
    padding-top: 5px;
    width: 30%;
    height: 100px;
    float: left;
    /*border: black;
    border-style: solid;*/
}

.conceptosTableHeader {
    background-color: cornsilk;
}

.forms {
    float: left;
    margin-left: 15px;
    width: 67%;
    /*border: black;
    border-style: solid;*/
    padding: 15px;
    background-color: lavender;
    box-shadow: 10px 10px 5px white;
    border: 1px solid black;
    border-radius: 25px;
}

.addNew {
    float: left;
    margin-left: 15px;
    width: 67%;
    /*border: black;
    border-style: solid;*/
    padding: 15px;
}

.formsTitulo {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    
    .conceptosTable {
        font-size: 11px;
        width: 97%;
        margin-right: 5px;
        margin-top: 15px;
    }
    
    .forms {
        box-shadow: none;
    }

    .forms h3 {
        font-size: 14px;
    }

    .form-control {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
    }

    .addNew {
        position: fixed;
        top: 10px;
        padding-left: 0px;
        margin-left: 5px;
    }

    strong{
        font-size: 12px;
    }
}