<div class="loginContainer">
    <div class="login">
      <p>
        <mat-card-title>Control de Gasto$</mat-card-title>        
      </p>
      <form [formGroup]="loginForm" class="full-width-form" (ngSubmit)="login()" novalidate>
        <div>
          <mat-form-field appearance="outline" class="formfield-full-width">
            <mat-label>E-Mail</mat-label>
            <input matInput placeholder="E-Mail" formControlName="emailFormControl">
            <mat-icon matSuffix>face</mat-icon>                
          </mat-form-field>          
        </div>
        <div>
          <mat-form-field appearance="outline" class="formfield-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="pwdFormControl">
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
        </div>
        <div class="buttons-section">
          <div class="register-container">        
            <a mat-button color="register" routerLink="/registracion">Registrarse</a>              
          </div>
          <div class="login-button-container">
            <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login
              <mat-icon>directions_run</mat-icon>  
            </button>                    
          </div>
        </div>
      </form>
    </div>
  </div>

<!--
<div class="registracion">
    <a [routerLink]="['/registracion']" class="btn btn-info" role="button">Registrarse  <span class="glyphicon glyphicon-edit"></span></a>
</div>
<div class="polaroidContainer">
    <div class="polaroid">
        <p class="titulo">Control de Gasto$</p>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required placeholder="Email"/>
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Ingresar el Email</div>
                </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-log-in"></i>
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password"/>
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Ingresar el Password</div>
                </div>
            </div>
            <div class="form-group center">
                <button [disabled]="loading" class="btn btn-primary">
                    <span class="glyphicon glyphicon-share"></span>
                    Acceder
                </button>
                <img *ngIf="loading" 
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
            <div *ngIf="error" class="alert alert-danger" [innerHTML]="error"></div>
        </form>
    </div>
</div>
-->