
div.polaroid {
    width: auto;
    padding: 10px 10px 0px 10px;
    border: 1px solid #BFBFBF;
    background-color:honeydew;
    box-shadow: 10px 10px 5px #aaaaaa;
    
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);   
}

.main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: cornsilk;
    z-index: 10;
}

.center {
    text-align:center;
    margin-top: 20px;
}

.titulo {
    margin-bottom: 30px;
    color: #7c795d; 
    font-family: 'Trocchi', serif; 
    font-size: 30px; 
    font-weight: normal; 
    line-height: 48px;
    text-align: center;
    width: 300px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.registracion {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

