<table *ngIf="sumaryAnio!==undefined && loading === false" class="table rad">
    <thead>
      <tr *ngIf="displayTitle">
        <th class="warning" colspan="2" style="text-align: center;">{{fecha | date:'yyyy'}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
        <td>Ingresos</td>
        <td class="importe">{{sumaryAnio.ingresos | currency: this._userService.getMoneda()}}</td>
      </tr>
      <tr class="danger">
        <td>Egresos</td>
        <td class="importe">{{sumaryAnio.egresos | currency: this._userService.getMoneda()}}</td>
      </tr>
      <tr class="info">
        <td>Saldo</td>
        <td class="importe saldo"
            [class.saldoNegativo]="(sumaryAnio.ingresos - sumaryAnio.egresos) < 0">
            {{(sumaryAnio.ingresos - sumaryAnio.egresos) | currency: this._userService.getMoneda()}}
        </td>
      </tr>
    </tbody>
  </table>
  