.conceptos-table {
    width: 60%;
}

.mat-row:nth-child(even){
    background-color:rgb(243, 244, 252);
}

.importe{
    text-align: right;
}

.importeNegativo{
    color: red;
}

.datePicker {
    width: 150px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
}

.tableContent {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 84%;
    top: 16%;
    overflow-y: scroll;
    max-block-size: -webkit-fill-available;
}

.header {
  display: table;
  margin: 0 auto;
  clear: both;
  width: 60%;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

.saldos {
  margin-top: 15px;
}



@media only screen and (max-width: 600px) {
    .conceptos-table {
        width: 100%;
    }

    .header {
      width: 100%;
    }
}



