.header {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;    
    border-bottom-style: solid;    
}

.anioSelect {
    width: 100px;
    margin-left: 5px;
    margin-top: 10px;
}

.tableContent {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 84%;
    top: 16%;
    overflow-y: scroll;
    max-block-size: -webkit-fill-available;        
}

.conceptos-table {
    width: 60%;
}

.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
}

.itemDescription {
    float: left; 
    font-size: small;
}

.itemAmount {
    float: right;; 
    font-size: small;
}
 
@media only screen and (max-width: 600px) {
    .conceptos-table {
        width: 100%;
    }    
}
