.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


::ng-deep .mat-select-panel.long-panel { 
    max-height: 600px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;    
    border-bottom-style: solid;    
}

.datePicker {
    width: 100px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;    
}

.tableContent {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 84%;
    top: 16%;
    overflow-y: scroll;
    max-block-size: -webkit-fill-available;        
}

.conceptos-table {
    width: 60%;
}

.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
}

.itemDescription {
    float: left; 
    font-size: small;
}

.itemAmount {
    float: right;; 
    font-size: small;
}
 
@media only screen and (max-width: 600px) {
    .conceptos-table {
        width: 100%;
    }    
}

