<div class="sumaryGral">
  <div class="combos">
    <select #selectMes (change)="changeMes(selectMes.value)">
      <option *ngFor="let mes of meses" [value]="mes.numero" [selected]="mes.numero == mesActual.numero">
          {{mes.nombre}}
      </option>
    </select>

    <select #selectAnio (change)="changeAnio(selectAnio.value)">
      <option *ngFor="let anio of anios" [value]="anio" [selected]="anio == anioActual">
          {{anio}}
      </option>
    </select>
  </div>
  <app-sumarymes [fecha]="bsValue" [sumaryMonth]="sumMonth" [displayTitle]="true"> </app-sumarymes>
</div>

<div class="conceptos">
    <accordion *ngIf="loading === false">
        <accordion-group *ngFor="let ct of conceptosTotales" 
                         #group 
                         (isOpenChange)="loadDetail($event, ct)">
          <div accordion-heading class="clearfix">
              <i class="glyphicon glyphicon-chevron-down"></i>
            {{ct.descripcion}}
            <span class="float-right pull-right" [class.importeNegativo]="ct.saldo < 0">
              {{ct.saldo | currency:this._userService.getMoneda()}}
            </span>
          </div>
          <div>
            <table class="table" *ngIf="ct.dataAdic !== undefined">
                <tbody>
                  <tr *ngFor="let data of ct.dataAdic" class="detalleConcepto">
                    <td class="cellDetalleConcepto">{{data.fecha | date:'mediumDate'}}</td>
                    <td class="importe cellDetalleConcepto"
                        [class.importeNegativo]="data.importe < 0">
                        {{data.importe | currency:this._userService.getMoneda()}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <app-loading *ngIf="ct.dataAdic === undefined" [texto]="'Cargando...'"></app-loading>
          </div>
        </accordion-group>
      </accordion>
      <app-loading *ngIf="loading === true" [texto]="'Cargando...'"></app-loading>
</div>