<nav>
  <ul>
    <li><a routerLink="/diario" routerLinkActive="active">Diario</a></li>
    <li><a routerLink="/mensual" routerLinkActive="active">Mensual</a></li>
    <li><a routerLink="/anual" routerLinkActive="active">Anual</a></li>
    <li><a routerLink="/historico" routerLinkActive="active">Historico</a></li>
    <li><a routerLink="/conceptos" routerLinkActive="active">Conceptos</a></li>
    <li><a routerLink="/usuario" routerLinkActive="active">Usuario</a></li>
  </ul>
</nav>
<div style="margin-top:42px;">
  <router-outlet></router-outlet>
</div>