<app-error-message *ngIf="errorMessage.length != 0 && loading === false" [message]="errorMessage"></app-error-message>
<app-loading *ngIf="loading === true" [texto]="'Cargando...'"></app-loading>

<div *ngIf="loading === false && errorMessage.length == 0">
  <div class="sumaryGral">
    <div class="combos">
      <select #selectAnio (change)="changeAnio(selectAnio.value)">
        <option *ngFor="let anio of anios" [value]="anio" [selected]="anio == anioActual">
            {{anio}}
        </option>
      </select>
    </div>
    <app-sumaryanio [fecha]="bsValue" [sumaryAnio]="sumAnio" (LoadingStatus)="childLoadingStatus($event)" [displayTitle]="true"> </app-sumaryanio>
  </div>

  <div class="conceptos">
      <accordion>
          <accordion-group *ngFor="let ct of conceptosTotales" 
                          #group 
                          (isOpenChange)="loadDetail($event, ct)">
            <div accordion-heading class="clearfix">
                <i class="glyphicon glyphicon-chevron-down"></i>
              {{ct.descripcion}}
              <span class="float-right pull-right" [class.importeNegativo]="ct.saldo < 0">
                {{ct.saldo | currency:this._userService.getMoneda()}}
              </span>
            </div>
            <div>
              <table class="table" *ngIf="ct.dataAdic !== undefined">
                  <tbody>
                    <tr *ngFor="let data of ct.dataAdic" class="detalleConcepto">
                      <td class="cellDetalleConcepto">{{data.fecha | date:'LLLL yyyy'}}</td>
                      <td class="importe cellDetalleConcepto"
                          [class.importeNegativo]="data.importe < 0">
                          {{data.importe | currency:this._userService.getMoneda()}}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <app-loading *ngIf="ct.dataAdic === undefined" [texto]="'Cargando...'"></app-loading>
            </div>
          </accordion-group>
        </accordion>
  </div>
</div>