.sumaryGral {
    margin-left: 5px;
    padding-top: 5px;
    width: 252px;
    position: fixed;
    /*border: black;
    border-style: solid;*/
}

.conceptos {
    float: left;
    margin-left: 15px;
    width: 78%;
    margin-left: 270px;
    /*border: black;
    border-style: solid;*/
}

.concepto {
    border: black;
    border-style: solid;
}

.detalleConcepto {
    font-size: 13px;
    font-family: Helvetica, sans-serif;
}

.cellDetalleConcepto {
    padding: 1px;
}
