<h2 mat-dialog-title>{{data.concepto.descripcion}}</h2>
<mat-dialog-content>
    <form [formGroup]="form" class="full-width-form" (ngSubmit)="onSave()" novalidate>
        <mat-form-field>
            <input matInput  placeholder="Importe" formControlName="importeFormControl">
        </mat-form-field>
        
        <div class="buttons-section">
            <mat-card-actions>
                <div class="cancel-button">
                    <button  mat-raised-button type="button" (click)="onCancel()">Close</button>
                </div>
                <div class="save-button">
                    <button  mat-raised-button type="submit" [disabled]="!(form.valid)" color="primary">Aceptar</button>
                </div>
            </mat-card-actions>
        </div>
    </form>
    
</mat-dialog-content>
<!--
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data.concepto.importe">Aceptar</button>
</mat-dialog-actions>
-->