.right {
    width: 20%;
    border: 5px black;
    border-radius: 5px;
    background-color: darkgrey;
    right: 5px;
    position: fixed;
    z-index: -1;
}

.left {
    width: 79%;
}


.fechaHolder{ text-align: center; }

.fecha{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.debito {
    text-align: center;
}

.selected:hover {
    cursor: pointer;
    border-style: solid;
}