<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">

<div class="right">
  <app-sumarydia [fecha]="bsValue"></app-sumarydia>
  <app-sumarymes [fecha]="bsValue"></app-sumarymes>
</div>


<div class="left">
  <div class="fechaHolder">
    <input type="text"
            class="form-control fecha"
            #dp="bsDatepicker"
            bsDatepicker 
            [(bsValue)]="bsValue">
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
        <td>Auto</td>
        <td class="importe">$ 1000.00</td>
      </tr>
      <tr class="success">
        <td>Cable</td>
        <td class="importe">$ 54.23</td>
      </tr>
      <tr class="success">
        <td>Luz</td>
        <td class="importe">$ 741.00</td>
      </tr>
      <tr class="success">
        <td>Salidas</td>
        <td class="importe">$ 589.33</td>
      </tr>
      <tr class="success">
        <td>Gym</td>
        <td class="importe">$ 0.00</td>
      </tr>
      <tr class="success">
        <td>Viajes</td>
        <td class="importe">$ 0.00</td>
      </tr>
      <tr class="success">
        <td>Comida Work</td>
        <td class="importe">$ 45.00</td>
      </tr>
      <tr class="success">
        <td>Supermercado</td>
        <td class="importe">$ 0.00</td>
      </tr>
      <tr class="success">
        <td>Casa</td>
        <td class="importe">$ 96.00</td>
      </tr>
      <tr class="success">
        <td>Plazo Fijo</td>
        <td class="importe">$ 86.00</td>
      </tr>
      <tr class="success">
        <td>Luz</td>
        <td class="importe">$ 741.00</td>
      </tr>
      <tr class="success">
        <td>Luz</td>
        <td class="importe">$ 741.00</td>
      </tr>
      <tr class="success">
        <td>Luz</td>
        <td class="importe">$ 741.00</td>
      </tr>
      <tr class="success">
        <td>Luz</td>
        <td class="importe">$ 741.00</td>
      </tr>
      <tr class="success">
        <td>Luz</td>
        <td class="importe">$ 741.00</td>
      </tr>
      <tr class="success">
        <td>Luz</td>
        <td class="importe">$ 741.00</td>
      </tr>
      <tr class="success">
        <td>Luz</td>
        <td class="importe">$ 741.00</td>
      </tr>
      <tr class="success">
        <td>Luz</td>
        <td class="importe">$ 741.00</td>
      </tr>
    </tbody>
  </table>
</div>

 