<!--
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
-->

<app-loading *ngIf="loading === true" [texto]="'Cargando...'"></app-loading>
<app-error-message *ngIf="errorMessage.length != 0 && loading === false" [message]="errorMessage"></app-error-message>

<div *ngIf="loading === false && errorMessage.length == 0">
  
  <div class="right">
    <app-sumarydia [fecha]="bsValue" [conceptosDiarios]="conceptos"></app-sumarydia>
    <app-sumarymes [fecha]="bsValue" [sumaryMonth]="sumMonth" (LoadingStatus)="childLoadingStatus($event)"> </app-sumarymes>
    <app-sumaryanio [fecha]="bsValue" [sumaryAnio]="sumAnio" (LoadingStatus)="childLoadingStatus($event)"> </app-sumaryanio>
  </div>
    
  <div class="left" #divfecha>
    <div class="fechaHolder">
      <input type="text"
              class="form-control fecha"
              (ngModelChange)="changeDay($event)"
              [ngModel]="bsValue">
    </div>
    
    <table *ngIf="conceptos!==undefined && loading === false && errorMessage.length == 0" class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr id="tr{{item.idconcepto}}" *ngFor="let item of conceptos;" 
            (click)="openModal(template, item);">
          <td >{{item.descripcion}}</td>
          <td class="importe"
              [class.importeNegativo]="item.importe < 0 || item.credito === 0">
              {{item.importe | currency:this._userService.getMoneda()}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mobile">
    <app-sumarydia [fecha]="bsValue" [conceptosDiarios]="conceptos"></app-sumarydia>
    <app-sumarymes [fecha]="bsValue" [sumaryMonth]="sumMonth" (LoadingStatus)="childLoadingStatus($event)"> </app-sumarymes>
    <app-sumaryanio [fecha]="bsValue" [sumaryAnio]="sumAnio" (LoadingStatus)="childLoadingStatus($event)"> </app-sumaryanio>
  </div>
</div>

<ng-template #template>
  <form (ngSubmit)="aceptar(registerForm)" 
        #cargaForm="ngForm" 
        novalidate>
    <div class="modal-body text-center" #divcontent>
      <p>{{conceptoSel.descripcion}}</p>

      <input type="tel"
              id="nuevoImporte"
              class="form-control inputimporte" 
              [class.importeNegativo]="!nuevoDebCred" 
              required
              pattern="^((\d+)|(\d{1,3})(\,\d{3}|)*)(\.\d{2}|)$"
              autofocus
              autocomplete="off"
              [(ngModel)]="model" 
              name="nuevoImporte"
              placeholder="Importe"
              #nuevoImporte="ngModel"/>
      <div [hidden]="nuevoImporte.valid || nuevoImporte.pristine" class="alert alert-danger">
          Importe Invalido
      </div>
      <br/>
      <table width="100%">
        <thead>
          <tr>
            <th class="debito">
              <label for="creditoopt">Credito</label>
              <input type="radio" 
                    id="creditoopt" 
                    name="debcred" 
                    (click)="changeNuevoDebCred(1)"
                    [checked]="nuevoDebCred === 1">
            </th>
            <th class="debito importeNegativo">
              <label for="debitoopt">Debito</label>
              <input type="radio" 
                    id="debitoopt" 
                    name="debcred"
                    (click)="changeNuevoDebCred(0)"
                    [checked]="nuevoDebCred === 0">
            </th>
          </tr>
        </thead>
      </table>
      <br/>
      <button type="submit"
                    [disabled]="loadingModal" 
                    class="btn btn-success"
                    [disabled]="!cargaForm.form.valid">
        <span class="glyphicon glyphicon-ok"></span>
        Aceptar
      </button>
      <app-loading *ngIf="loadingModal === true" [texto]="'Cargando...'"></app-loading>
      <app-error-message *ngIf="errorMessageModal.length != 0 && loadingModal === false" [message]="errorMessageModal"></app-error-message>    
    </div>
  </form>
</ng-template>
