.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.conceptos-table {
    width: 60%;
}

.mat-row:nth-child(even){
    background-color:rgb(243, 244, 252);
}

.importe{
    text-align: right;
}

.importeNegativo{
    color: red;
}

.datePicker {
    width: 150px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;    
}

.tableContent {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

  

@media only screen and (max-width: 600px) {
    .conceptos-table {
        width: 100%;
    }
}



