<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">

<app-loading *ngIf="loading === true" [texto]="'Cargando...'"></app-loading>
<app-error-message *ngIf="errorMessage.length != 0 && loading === false" [message]="errorMessage"></app-error-message>

<div *ngIf="loading === false && errorMessage.length == 0">
  
  <div class="right">
    <app-sumarydia [fecha]="bsValue" [conceptosDiarios]="conceptos"></app-sumarydia>
    <app-sumarymes [fecha]="bsValue" [sumaryMonth]="sumMonth" (LoadingStatus)="childLoadingStatus($event)"> </app-sumarymes>
    <app-sumaryanio [fecha]="bsValue" [sumaryAnio]="sumAnio" (LoadingStatus)="childLoadingStatus($event)"> </app-sumaryanio>
  </div>
    
  <div class="left">
    <div class="fechaHolder">
      <input type="text"
              class="form-control fecha"
              #dp="bsDatepicker"
              bsDatepicker 
              (ngModelChange)="changeDay($event)"
              [ngModel]="bsValue"
              [bsConfig]="{dateInputFormat: 'LL'}">
    </div>
    
    <table *ngIf="conceptos!==undefined && loading === false && errorMessage.length == 0" class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="selected" id="tr{{item.idconcepto}}" *ngFor="let item of conceptos; let odd=odd; let even=even;" 
            (click)="openModal(template, item)"
            [class.info]="odd"
            [class.success]="even">
          <td >{{item.descripcion}}</td>
          <td class="importe"
              [class.importeNegativo]="item.importe < 0 || item.credito === 0">
              {{item.importe | currency:this._userService.getMoneda()}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>{{conceptoSel.descripcion}}</p>

    <input #importe2 
            autofocus
            name="importe" 
            class="form-control"
            [class.importeNegativo]="!nuevoDebCred" 
            currencyMask
            [options]="currencyMaskOptions"
            [(ngModel)]="nuevoImporte" 
            (keyup.enter)="confirm()"
            (click)="importe2.select()" />

    <!--<input #importe2 
            autofocus
            name="importe" 
            class="form-control"
            [class.importeNegativo]="!nuevoDebCred" 
            (blur)="transformAmount($event)"
            [(ngModel)]="nuevoImporte" 
            (keyup.enter)="confirm()"
            (click)="importe2.select()" />-->
      <br/>
      <table width="100%">
          <thead>
            <tr>
              <th class="debito">
                <label for="creditoopt">Credito</label>
                <input type="radio" 
                       id="creditoopt" 
                       name="debcred" 
                       (click)="changeNuevoDebCred(1)"
                       [checked]="nuevoDebCred === 1">
              </th>
              <th class="debito importeNegativo">
                <label for="debitoopt">Debito</label>
                <input type="radio" 
                       id="debitoopt" 
                       name="debcred"
                       (click)="changeNuevoDebCred(0)"
                       [checked]="nuevoDebCred === 0">
              </th>
            </tr>
          </thead>
        </table>
      <br/>
      <button type="submit" class="btn btn-success" (click)="confirm()" >Aceptar</button>
      <br/>
      <app-loading *ngIf="loadingModal === true" [texto]="'Cargando...'"></app-loading>
      <app-error-message *ngIf="errorMessageModal.length != 0 && loadingModal === false" [message]="errorMessageModal"></app-error-message>
  </div>
</ng-template>
