.right {
    width: 20%;
    border: 5px black;
    border-radius: 5px;
    background-color: darkgrey;
    right: 5px;
    position: fixed;
}

.left {
    width: 79%;
}

.importe {
    text-align:right;
  }

.fechaHolder{ text-align: center; }

.fecha{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.importeNegativo {
    color: red;
}

.debito {
    text-align: center;
} 