.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.conceptos-table {
    width: 80%;
}

.mat-row:nth-child(even){
    background-color:rgb(243, 244, 252);
}


/*
.right {
    width: 20%;
    border: 5px black;
    border-radius: 5px;
    right: 5px;
    position: fixed;
    z-index: -1;
    margin-right: 17px;
}

.left {
    width: 78%;
}


.fechaHolder{ 
    text-align: center; 
}

.fecha{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.debito {
    text-align: center;
}

.table {
    padding-top: 500px;
}

.table tr:hover{
    font-size: xx-large;
    font-weight: bold;
}

.table tr:nth-child(odd) td{
    background-color: #e9ecf5;
}

.table tr:nth-child(even) td{
    background-color: white;
}

.mobile {
    display: none;
}

.inputimporte { 
    text-align: right; 
}

.odd {
    background-color: azure;
}

.even {
    background-color: bisque;
}

@media only screen and (max-width: 600px) {
    .mobile {
        display: initial;
        width: 100%;
        position:relative;
        margin:0 auto;
        right:0;
    }

    .right {
        display: none;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 4px;
        font-size: 11px;
    }

    .left {
        width: 100%;
        padding-left: 1px;
        padding-right: 1px;
    }    
}
*/