.right {
    width: 20%;
    border: 5px black;
    border-radius: 5px;
    right: 5px;
    position: fixed;
    z-index: -1;
    margin-right: 17px;
}

.left {
    width: 78%;
}


.fechaHolder{ 
    text-align: center; 
}

.fecha{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.debito {
    text-align: center;
}

.table {
    padding-top: 500px;
}

.mobile {
    display: none;
}

.inputimporte { 
    text-align: right; 
}

@media only screen and (max-width: 600px) {
    .mobile {
        display: initial;
        width: 100%;
        position:relative;
        margin:0 auto;
        right:0;
    }

    .right {
        display: none;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 4px;
        font-size: 11px;
    }

    .left {
        width: 100%;
        padding-left: 1px;
        padding-right: 1px;
    }    
}