<div class="loading" *ngIf="loading === true">
  <mat-spinner diameter="70" strokeWidth="5"></mat-spinner>
</div>

<div *ngIf="loading === false">
  <div class="header">
    <app-saldo class="saldos" [titulo]="'Saldo Historico'" [saldo]="getIngresos() - getEgresos()" (saldoClicked)="showOpenSaldo()"></app-saldo>
  </div>

  <div class="tableContent">
    <mat-accordion class="conceptos-table">
      <mat-expansion-panel *ngFor="let ct of conceptosTotales" (opened)="loadHistoricDetails(ct)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ct.descripcion}}
          </mat-panel-title>
          <mat-panel-description [class.importeNegativo]="ct.saldo < 0">
            {{ct.saldo | currency:this._userService.userCurrency}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-spinner class="loading" *ngIf="loadingDetail === true"></mat-spinner>
        <mat-list *ngIf="loadingDetail === false">
          <mat-list-item *ngFor="let detail of itemDetail">
            <div matLine>
              <p class="itemDescription">{{detail.anio}}</p>
              <p class="itemAmount" [class.importeNegativo]="detail.importe < 0">{{detail.importe | currency:this._userService.userCurrency}}</p>
              </div>
          </mat-list-item>
        </mat-list>

      </mat-expansion-panel>
    </mat-accordion>
</div>

