
<table *ngIf="sumaryDay!==undefined" class="table rad">
  <thead>
    <tr>
      <th class="warning" colspan="2" style="text-align: center;">{{fecha | date:'mediumDate'}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="success">
      <td>Ingresos</td>
      <td class="importe">{{sumaryDay.totalIngresos | currency}}</td>
    </tr>
    <tr class="danger">
      <td>Egresos</td>
      <td class="importe">{{sumaryDay.totalEgresos | currency}}</td>
    </tr>
    <tr class="info">
      <td>Saldo</td>
      <td class="importe saldo"
          [class.saldoNegativo]="(sumaryDay.totalIngresos - sumaryDay.totalEgresos) < 0">
          {{(sumaryDay.totalIngresos - sumaryDay.totalEgresos) | currency}}
      </td>
    </tr>
  </tbody>
</table>
