<table *ngIf="conceptosDiarios!==undefined" class="table rad">
  <thead>
    <tr>
      <th class="warning" colspan="2" style="text-align: center;">{{fecha | date:'mediumDate'}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="success">
      <td>Ingresos</td>
      <td class="importe">{{getIngresos() | currency}}</td>
    </tr>
    <tr class="danger">
      <td>Egresos</td>
      <td class="importe">{{getEgresos() | currency}}</td>
    </tr>
    <tr class="info">
      <td>Saldo</td>
      <td class="importe saldo"
          [class.saldoNegativo]="(getIngresos() - getEgresos()) < 0">
        {{(getIngresos() - getEgresos()) | currency}}
      </td>
    </tr>
  </tbody>
</table>
