.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-is-mobile .main-toolbar {
  position: fixed;
  z-index: 2;
}

h1.main-app-name {
  margin-left: 8px;  
}

.main-is-mobile h3.main-app-name {
  font-size: small;
}

.main-sidenav-container {
  flex: 1;
}

.main-is-mobile .main-sidenav-container {
  flex: 1 0 auto;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}


/*
.nav {
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav ul {
    list-style: none;
    background-color: #444;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 20px;
    margin: 0;
  }
  
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    line-height: 40px;
    text-align: left;
  }
  
  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #888;
    transition: .3s background-color;
  }
  
  .nav a:hover {
    background-color: #005f5f;
    cursor: pointer;
  }
  
  .nav a.active {
    background-color: teal;
    color: wheat;
    cursor: default;
  }
  
  .nav li li {
    font-size: .7em;
  }

  .nav > ul > li:last-child
  {
      float:right;
  }

  .prueba {
    display: block;
  }

  .prueba2 {
    display: none;
  }






  .nav li {
    width: 130px;
    border-bottom: none;
    height: 40px;
    line-height: 40px;
    font-size: 1.0em;
    display: inline-block;
    margin-right: -4px;
  }

  .nav a {
    border-bottom: none;
  }

  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  .nav li ul {
    position: absolute;
    width: inherit;
  }


@media only screen and (max-width: 600px) {
  
  .nav ul {
    list-style: none;
    background-color: #444;;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 5px;
    margin: 0;
    font-size: 12px;
  }

  .nav li{
    width: 50px;
    border-bottom: none;
    height: 20px;
    line-height: 20px;
    font-size: 0.6em;
    display: inline-block;
    margin-right: -4px;
  }

  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding-left: 5px;
    border-bottom: 1px solid #888;
    transition: .3s background-color;
  }

  .nav li li {
    font-size: .5em;
  }

  .nav > ul > li:last-child
  {
      float: left;
  } 
}
*/ 
