.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-is-mobile .main-toolbar {
  position: fixed;
  z-index: 2;
}

h1.main-app-name {
  margin-left: 8px;  
}

.main-is-mobile h3.main-app-name {
  font-size: small;
}

.main-sidenav-container {
  flex: 1;
}

.main-is-mobile .main-sidenav-container {
  flex: 1 0 auto;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 200px;
}

mat-icon{
  padding-right: 10px;
}

