/*.main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: darkgray;
    z-index: 10;
    overflow-y:scroll;
}*/

.nav {
  top: 0px;
  position: fixed;
  width: 100%;
}

.nav ul {
    list-style: none;
    background-color: #444;
    /*text-align: center;*/
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 20px;
    margin: 0;
  }
  
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    line-height: 40px;
    text-align: left;
  }
  
  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #888;
    transition: .3s background-color;
  }
  
  .nav a:hover {
    background-color: #005f5f;
    cursor: pointer;
  }
  
  .nav a.active {
    background-color: teal;
    color: wheat;
    cursor: default;
  }
  
  /* Sub Menus */
  .nav li li {
    font-size: .7em;
  }

  .nav > ul > li:last-child
  {
      float:right;
  }

/*******************************************
    Style menu for larger screens

    Using 650px (130px each * 5 items), but ems
    or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 600px) {
  .nav li {
    width: 130px;
    /*width: calc(100% / 6);*/
    border-bottom: none;
    height: 40px;
    line-height: 40px;
    font-size: 1.0em;
    display: inline-block;
    margin-right: -4px;
  }

  .nav a {
    border-bottom: none;
  }

  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .nav {
      display: none;
  } 
}
 