<div class="main-container" [class.main-is-mobile]="isMobile()">
  <mat-toolbar color="primary" class="main-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="main-app-name">Control Gasto$</h1>
      <span class="example-spacer"></span>
      <h3 class="main-app-name">{{userName}}</h3>
  </mat-toolbar>

  <mat-sidenav-container class="main-sidenav-container"
       [style.marginTop.px]="isMobile() ? 56 : 0">
          <mat-sidenav #snav [fixedInViewport]="isMobile()" fixedTopGap="56" (click)="snav.toggle()">
          <mat-nav-list>            
              <a mat-list-item [routerLink]="['page1']">
                <mat-icon>today</mat-icon>Diario
              </a>
              <a mat-list-item [routerLink]="['page2']">
                <mat-icon>calendar_today</mat-icon>Mensual
              </a>
              <a mat-list-item routerLink=".">
                <mat-icon>airplay</mat-icon>Anual
              </a>
              <a mat-list-item routerLink=".">
                <mat-icon>blur_linear</mat-icon>Historico
              </a>
              <a mat-list-item routerLink=".">
                <mat-icon>add_chart</mat-icon>Conceptos
              </a>
              <mat-divider></mat-divider>
              <a mat-list-item routerLink=".">
                <mat-icon>person_outline</mat-icon>Perfil
              </a>              
              <a mat-list-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>LogOut
              </a>
              <mat-divider></mat-divider>
              <a mat-list-item (click)="about()">
                <mat-icon>content_paste</mat-icon>Acerca De
              </a>              
          </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
          <router-outlet></router-outlet>        
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>

