<div class="main">
  <nav>
    <ul>
      <li><a routerLink="/dashboard/diario" routerLinkActive="active">Diario</a></li>
      <li><a routerLink="/dashboard/mensual" routerLinkActive="active">Mensual</a></li>
      <li><a routerLink="/dashboard/anual" routerLinkActive="active">Anual</a></li>
      <li><a routerLink="/dashboard/historico" routerLinkActive="active">Historico</a></li>
      <li><a routerLink="/dashboard/conceptos" routerLinkActive="active">Conceptos</a></li>
      <li><a routerLink="/dashboard/usuario" routerLinkActive="active">Usuario</a></li>
    </ul>
  </nav>
  <div style="margin-top:42px;">
    <router-outlet></router-outlet>
  </div>
</div>