<div class="loading" *ngIf="loading">
  <mat-spinner diameter="70" strokeWidth="5"></mat-spinner>
</div>

<div class="loading" *ngIf="loadingPopup">
  <mat-spinner diameter="70" strokeWidth="5"></mat-spinner>
</div>

<div>
  <div class="header">
    <div class="column">
      <mat-form-field class="datePicker">
        <input matInput readonly (click)="dp.open()" [matDatepicker]="dp" placeholder="Mes" [formControl]="currentDate">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="year"
                        (monthSelected)="chosenMonthHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
    </div>

    <div class="column saldos">
      <app-saldo [titulo]="isMobile() ? 'Saldo' : 'Saldo Mensual'" [saldo]="saldoActual" (saldoClicked)="showOpenSaldo()"></app-saldo>
    </div>

    <div class="column filters">
      <app-filter (filtersChanged)="onfiltersChanged($event)"></app-filter>
    </div>
  </div>

  <div class="tableContent" id="mainTable"  *ngIf="!loading">
    <mat-accordion class="conceptos-table">
      <mat-expansion-panel *ngFor="let ct of conceptosFiltered" [expanded]="!loading && ct.descripcion === getOpenItem()" (opened)="loadMonthDetails(ct)">
          <mat-expansion-panel-header>
            <mat-panel-title id="{{'item' + ct.descripcion}}">
              {{ct.descripcion}}
            </mat-panel-title>
            <mat-panel-description [class.importeNegativo]="ct.saldo < 0">
              {{ct.saldo | currency:this._userService.userCurrency}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-spinner class="loading" *ngIf="loadingDetail"></mat-spinner>
          <mat-list *ngIf="!loadingDetail">
            <mat-list-item *ngFor="let detail of itemDetail">
              <div matLine>
                <p class="itemDescription">{{detail.fecha | date:'mediumDate'}}</p>
                <p class="itemAmount" [class.importeNegativo]="detail.importe < 0">{{detail.importe | currency:this._userService.userCurrency}}</p>
                </div>
            </mat-list-item>
          </mat-list>

      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>
