::ng-deep .mat-select-panel.long-panel {
    max-height: 600px;
}

.header {
    display: table;
    margin: 0 auto;
    clear: both;
    width: 60%;
    text-align: center;
}

.column {
  float: left;
  width: 33%;
}

.datePicker {
    width: 100px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
}

.saldos {
  margin-top: 15px;
}

.filters {
  margin-top: 15px;
}

.tableContent {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 84%;
    top: 16%;
    overflow-y: scroll;
    max-block-size: -webkit-fill-available;
}

.conceptos-table {
    width: 60%;
}

.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
}

.itemDescription {
    float: left;
    font-size: small;
}

.itemAmount {
    float: right;;
    font-size: small;
}

@media only screen and (max-width: 600px) {
    .conceptos-table {
        width: 100%;
    }

    .header {
      width: 100%;
    }
}

