html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.panel-heading {
    padding: 2px 10px;
}

.panel-title {
    font-size: 14px;
}

.panel-body {
    padding-right: 10px;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-top: 5px;
}

.importeNegativo {
    color: red;
}

.importe {
    text-align:right;
}

.error-snackbar {
    background: rgb(167, 61, 61);
    color: whitesmoke;
    text-align:center;
    font-weight: normal;
}



