
.panel-heading {
    padding: 2px 10px;
}

.panel-title {
    font-size: 14px;
}

.panel-body {
    padding-right: 10px;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-top: 5px;
}

.importeNegativo {
    color: red;
}

.importe {
    text-align:right;
}

.selected:hover {
    cursor: pointer;
    border-style: solid;
}
