<div class="loading" *ngIf="loading">
    <mat-spinner diameter="70" strokeWidth="5"></mat-spinner>
</div>

<div *ngIf="!loading" class="registerContainer">
    <div class="register">
      <p>
        <mat-card-title>Perfil de Usuario</mat-card-title>
      </p>
      <form [formGroup]="profileForm" class="full-width-form" (ngSubmit)="changeProfile()" novalidate>
        <div>
            <mat-form-field appearance="outline" class="formfield-full-width" >
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="nameFormControl" >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="formfield-full-width" >
                <mat-label>E-Mail</mat-label>
                <input matInput placeholder="E-Mail" formControlName="emailFormControl">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="formfield-full-width">
                <input matInput
                        readonly
                        [matDatepicker]="picker"
                        placeholder="Fecha Nacimiento"
                        formControlName="fechaNacimientoFormControl"
                        (click)="picker.open()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="formfield-full-width" >
                <mat-label>Moneda</mat-label>
                <mat-select formControlName="monedaFormControl">
                    <mat-option *ngFor="let moneda of monedas" [value]="moneda">{{moneda}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="buttons-section">
            <div class="register-button-container">
                <button mat-raised-button type="submit" color="primary" [disabled]="!profileForm.valid || profileForm.pristine || loadingAceptar">Aceptar
                <mat-icon>how_to_reg</mat-icon>
                </button>
                <mat-spinner *ngIf="loadingAceptar" [diameter]="30"></mat-spinner>
            </div>
        </div>
      </form>
    </div>
  </div>
