.registerContainer {
    padding-top: 25px;  
    text-align: center;
  }

  div.register {
    width: 500px;
    padding: 10px 10px 0px 10px;
    border: 1px solid #BFBFBF;
    box-shadow: 10px 10px 5px #aaaaaa;
    display: inline-block;
  }

  .full-width-form {
    width: 100%;
  }
  
  .formfield-full-width {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .register-button-container{
    float: right;
    text-align: center;  
  }
  
  .buttons-section{
    padding-top: 10px;
    padding-bottom: 50px;
  }
  
  .mat-spinner {
    float:left; 
    margin: 5px 10px 0px 0px;
  }

  .login-container{
    float: left;
    text-align: left;  
  }

  .mat-login {
    color: rgb(45, 155, 206);
  }

  @media only screen and (max-width: 600px) {
    div.register {
        width: 90%;
        margin-top: 5px;
        margin-bottom: 10px;
        box-shadow: none;
    }    
}



/*div.polaroid {
    width: 50%;
    height: auto;
    margin-top: 30px;
    padding: 10px 10px 0px 10px;
    border: 1px solid #BFBFBF;
    background-color:honeydew;
    box-shadow: 10px 10px 5px #aaaaaa;
    display: inline-block;
}

.polaroidContainer {
    text-align: center;
}

.center {
    text-align:center;
    margin-top: 20px;
}

.titulo {
    margin-bottom: 30px;
    color: #7c795d; 
    font-family: 'Trocchi', serif; 
    font-size: 30px; 
    font-weight: normal; 
    line-height: 48px;
    text-align: center;
}

.left-addon {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    div.polaroid {
        width: 95%;
        margin-top: 5px;
        margin-bottom: 10px;
        box-shadow: none;
    }

    .titulo {
        font-size: 15px; 
        margin-top: 1px;
        margin-bottom: 15px;
        line-height: 20px;
    }

    .alert-danger {
        font-size: 10px; 
    }

    .form-control {
        font-size: 10px; 
        height: 25px;
    }

    .form-group {
        margin-top: 5px; 
    }

    label {
        font-size: 10px; 
        margin-bottom: 1px;
    }

    .btn {
        font-size: 10px; 
    }

    .alert {
        font-size: 10px; 
    }
}
*/